{
  "installed": {
    "client_id": "... add your Google Console client ID here ...",
    "client_secret":"... add your Google Console client secret here ...",
    "redirect_uris": ["http://localhost", "urn:ietf:wg:oauth:2.0:oob"],
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://accounts.google.com/o/oauth2/token"
  }
}
